@import 'theme';
@import 'utils/display';
.lastEpisodesContainer {
  width: 100%;
  margin-bottom: 0.313rem;
  @include flex(space-between, flex-start) {
    flex-direction: column;
  }

  h2 {
    grid-area: title;
  }

  ul {
    width: 100%;
  }

  @include bp-md() {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 'title' 'episode-card';
    ul {
      @include flex(space-between);
    }
  }
}
