@import 'theme';
@import 'utils/animation';
@import 'utils/display';

.container {
    position: relative;
    background-color: $color-white;
    height: 5.5rem;
    padding: 0 0.8rem;
    width: 100%;
    border-bottom: 1px solid $color-gray-100;
    @include flex(flex-start);
    position: relative;
    span {
        display: none;
        font-size: $font-size-lg;
        color: $color-gray-100;
    }
    p {
        display: none;
        margin-left: auto;
        text-align: center;
        max-width: 8rem;
        text-transform: capitalize;
    }

    @include bp-sm() {
        padding: 0 1rem;
    }

    @include bp-md() {
        padding: 0 2rem;
        span {
            margin: 0 1rem;
            display: block;
        }
    }
    @include bp-lg() {
        height: 6.5rem;
        p {
            display: block;
        }
        span {
            margin: 0 1.5rem;
        }
    }
    @include bp-lg() {
        span {
            margin: 0 2.5rem;
        }
    }
}

.title {
    @include font-body(lg);
    display: none;
    &::after {
        content: '|';
        color: $color-gray-500;
        font-weight: 900;
        @keyframes blink {
            0%,
            100% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
        }
        animation: blink 0.7s infinite;
        -webkit-animation: blink 0.7s infinite;
    }
    @include bp-md() {
        @include flex();
        @keyframes typeWriterAnim {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        color: $color-gray-500;
        @include startAnimation(typeWriterAnim, 1s);
    }

    @include bp-lg() {
        font-size: $font-size-md + 0.2rem;
    }

    @include bp-xl() {
        font-size: $font-size-lg;
    }
}

.menuOptions {
    position: fixed;
    width: 100%;
    background-color: #333;
    top: 5rem;
    left: 0;
    z-index: 2;

    li {
        @include flex();
        height: 4rem;
        :first-child {
            border-bottom: 1px solid $color-gray-100;
        }
        width: 100%;
        background-color: $color-bg;
        @include font-header(md);
        & button {
            border: 0;
            background-color: inherit;
            width: 100%;
            height: 100%;
            @include font-header(md);
        }
    }
}
